<!DOCTYPE html>
<html lang="en">
  <%- include("./includes/head.ejs") %>
  <link rel="stylesheet" href="style/home.css">
</head> 
  <body>
   <%- include("./includes/navbar.ejs") %> 
   <main>
 
    <div class="hero">
      <% if (user) { %>
        <div class="card" >
          <div class="card-body">
            <h5 class="card-title"> Name : <%= user.name %> </h5>
            <h6 class="card-subtitle mb-2 text-muted"> Email : <%= user.email %> </h6>
          </div>
        </div>
      <% } %>
      </div> 

      <div class="notes">
        <div class="container">
          <h3 class="my-3 text-primary">My notes :</h3>
          <div class="my-row">
            <% if (notes) { %>
            <%  for (let element of notes) { %>
              <div class="col">
                <article class="card border-black mb-3 " style="position: relative; width: 15rem; min-width: 15rem; max-width: 18rem; min-height: 8rem;">
                  <div class="card-header"><%= element.title %> </div>
                  <div class="card-body text-dark">
                    <h5 class="card-title"><%= element.category %></h5>
                    <p class="card-text"><%= element.content %> </p>
                    <input type="hidden" name="elementId" value="<%= element.id %>" />
                    <!-- ! IMAGE DISPLAYER -->
                    <% if (element.imagePath) { %>
                      <img class="text-center"src="/<%= element.imagePath %>" alt="<%= element.title %>" height="100" width="100"/>
                    <% } %>
                    <div id="delete" onclick="deleteNote(this)">
                      <img src="img/delete.svg" class="img-btn">
                    </img>
                  </div>
                </article>
              </div>
            <% } %>
            <% } %>
          </div>
      </div>
      </div>
   </main>

   <div class="btn-containter">
    <a href="/create-note"><button class="btn btn-dark">Create Note</button></a>
    </div>

 
   <%- include("./includes/js-boot.ejs") %> 
   <script src="/js/home.js"></script>
  </body>
</html>
